#main {
    background-color: rgb(192, 180, 165);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 15px;
    /*padding-right: 1px;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#leftEdu {

    border-right: 5px solid rgb(76, 85, 165);
}

#leftSide {
    border-top-left-radius: 20px;

    /*padding-left: 2px;*/
    background-color: rgb(76, 85, 165);

}
#courses h4 {
    text-align: center;
}
#last div {
    text-align: center;
    margin-top: 15px;
}
#basicCertif, #technologyCertif {
    display: none;
}
#skills {
    background-color: rgb(76, 85, 165);
    text-align: center;
}
#skills h4 {
    text-align: center;
}
.btns {
    border-radius: 10px;
    background-color: rgb(76, 85, 165);
    margin-bottom: 5px;
}
#mobileType {
    margin-left: auto;
    margin-right: auto;
    display: none;
    width: 25%;
    text-align: center;


}

#hyperToExp {
    margin-left: auto;
    margin-right: auto;

    width: 25%;
    text-align: center;
    display: block;
    background-color: rgb(192, 180, 165);
}
#mainSkills {
    background-color: rgb(192, 180, 165);

}

.card-header {
    border-bottom: 2px solid;
    /*margin-right: 7px;*/
    /*margin-left: 7px;*/
}

hr {
    height: 5px;
    margin-right: 4%;
    background-color: rgb(76, 85, 165);
}

h1,
h4 {
    text-align: left;

}

footer {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 2px;
    height: 60px;
    background-color: rgb(76, 85, 165);
    width: auto;
}



a {
    color: black;
}

@media screen and (max-width: 768px) {

    #rightSide {display: block;}
    /*#rightSide {width: 100%}*/
    #rightSide {margin: auto}
    #main {background-color: #4C55A5}
    #mobileMain {background-color: #C0B4A5}
    #mainSkills {background-color: #C0B4A5}
    #mobileMain {width: 70%}
    #mobileMain {margin: auto}
    #mobileType {display: block}
    #leftSide {display: none;}
    #myPhoto {width: 220%}
    #myPhoto {margin-right: -100%}

    #mobileMain {width: 90%}
    #skills {width: 90%}

    /*#mobileMain {border-top-left-radius: 3%}*/
    /*#mobileMain {border-top-right-radius: 3%}*/
    #mainSkills {border-top-left-radius: 3%}
    #mainSkills {border-top-right-radius: 3%}
    /*#mainSkills {border-radius: 3%}*/

}