<!-- head with img -->
<div class="col-6">
        <h1>Deyan Dimov</h1>
        <h4>Production Supervisor, who have a target(dream), to</h4>
        <h4>start career in IT sector like IT Developer.</h4>
    </div>

    <div class="col-3">
        <img src="./images/dimov.pgn.jpg" class="rounded float-right" alt="#">
    </div>

    <!-- left side -->
    <div class="row">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header bg-transparent border-success">Header</div>
                <div class="card-body text-success">
                    <h5 class="card-title">Success card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <div class="card-footer bg-transparent border-success">Footer</div>
            </div>
        </div>